# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: MIT

name: Tests

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
        - '3.12'
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - run: sudo apt update
    - run: sudo apt install munin-node
    - name: munin-node-configure
      run: |
        BLANKDIR=$(mktemp -d)
        /usr/sbin/munin-node-configure --servicedir "$BLANKDIR" --sconfdir "$BLANKDIR" --libdir . --suggest --debug || true
        /usr/sbin/munin-node-configure --servicedir "$BLANKDIR" --sconfdir "$BLANKDIR" --libdir . --suggest > test/out || true
        diff -u test/expected test/out
permissions:
  contents: read
